---
layout: default
---

{% for project in site.projects %}
      {% cycle '<div class="row">', '', ''%}
        <br>
        <br>  
        {% if project.alignment == "center" %}
          <div class="thumbnail-image" style="display: flex; justify-content: center;" >
             
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail_path }}" alt="{{ project.title }}"/>
                </a>
      
          </div>
        {% endif %}
        {% if project.alignment == "left" %}

          <div class="thumbnail-image">
             
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail_path }}" alt="{{ project.title }}"/>
                </a>
      
          </div>
          {% endif %}

        <br>
        <br>
        
        
      {% cycle '', '', '</div>'%}
{% endfor %}


<!--

      <div class="intro">
      <h5>Kathleen is an artist, designer and urban planner based in Brooklyn. </h5>
      <h5>Previously: Public policy & studio arts at Princeton University. </h5>
      <h5>Currently: . </h5>


-->


<!--


<div class="row">


{% for project in site.projects %}
    

{% cycle '<div class="row">', '', ''%}
<div class="col-md-4">

    	<div class="thumbnail-image">
    		<a href="{{ project.url }}">
        		<img src="{{ project.thumbnail_path }}" alt="{{ project.title }}"/>
        	</a>
      </div>

      <div class="thumbnail-title">
	        <a href="{{ project.url }}">{{ project.title }}</a>
       </div>

      <div class="subtext">
            <p>{{ project.info }}</p>
      </div>
</div>
{% cycle '', '', '</div>'%}
 
{% endfor %}
</div>

-->




