---
layout: default
---

<div class="thumbnail-image" style="display: flex; justify-content: center;" >

	<img src="https://d2w9rnfcy7mm78.cloudfront.net/10162916/original_1e645281db4f704bdc294b2d94c365d5.png?1610155643?bc=0" alt="pic">

 </div>

<!-- this is the "scatter image" layout
{% for project in site.projects %}
      {% cycle '<div class="row">', '', ''%}
        <br>
        <br>  
        {% if project.alignment == "center" %}
          <div class="thumbnail-image" style="display: flex; justify-content: center;" >
             
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail_path }}" alt="{{ project.title }}"/>
                </a>
      
          </div>
        {% endif %}
        {% if project.alignment == "left" %}

          <div class="thumbnail-image">
             
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail_path }}" alt="{{ project.title }}"/>
                </a>
      
          </div>
          {% endif %}

        <br>
        <br>
        
        
      {% cycle '', '', '</div>'%}
{% endfor %}

-->


<!-- 
old


<div class="row">


{% for project in site.projects %}
    

{% cycle '<div class="row">', '', ''%}
<div class="col-md-4">

    	<div class="thumbnail-image">
    		<a href="{{ project.url }}">
        		<img src="{{ project.thumbnail_path }}" alt="{{ project.title }}"/>
        	</a>
      </div>

      <div class="thumbnail-title">
	        <a href="{{ project.url }}">{{ project.title }}</a>
       </div>

      <div class="subtext">
            <p>{{ project.info }}</p>
      </div>
</div>
{% cycle '', '', '</div>'%}
 
{% endfor %}
</div>

-->




