<footer class="site-footer">

  <div class="container">
  <div class="row">
  <div class="col-md-4">

    <h2 class="footer-heading">Kathleen Ma</h2>


        <ul class="contact-list">
 
            <li><a href="mailto:klma@princeton.edu">Contact</a></li>
            
        </ul>
      

      </div>
      <div class="col-md-4">
        <p>Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.</p>
      </div>
    </div>
  </div>



</footer>
