<footer class="site-footer">

  <div class="container">
  <div class="row">
  <div class="col-md-4">

        <li><a href="mailto:klma@princeton.edu">Contact me</a></li>
        <li><a href="https://www.linkedin.com/in/kathleen-ma-22562796">LinkedIn</a></li>
        <li><a href="http://vis.princeton.edu/artists/kathleen-ma">Princeton Visual Arts</a></li>
        <li><a href="https://www.are.na/kathleen-ma--2/">Are.na</a></li>



      </div>
      <div class="col-md-4">
        <p>© Kathleen Ma 2017</p>
      </div>
    </div>
  </div>



</footer>
