
<head>
 

 	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kathleen Ma</title>
  <meta name="description" content="Kathleen Ma is a designer, artist and student at Princeton University.">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/main.css">
  
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Kathleen Ma" href="/feed.xml">

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  
</head>
