@import url('https://fonts.googleapis.com/css?family=Cardo');
@import url('https://fonts.googleapis.com/css?family=Arimo');

@font-face {
    font-family: 'MS Gothic';
    src: url('assets/MS-Gothic.ttf') format('truetype'),
}

@font-face {
    font-family: 'MS PGothic';
    src: url('assets/MS-PGothic.ttf') format('truetype'),
}


body {
  font-family: "Ms Gothic";
  background-color: #fcec03;

}

.site-nav {
	display: inline;

}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}


.medium {
	font-family: 'Cardo';
}


/*
body, html {
	cursor: url(img/cursor.gif), pointer;
}
*/
.newh1 {
	margin: 0;
	margin-top: 30px;
	padding: 0;
	font-size: 60px;
	display: block;
}


.h8 {
	font-family: "Inconsolata";
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding: 0;
	font-size: 15px;
	display: inline-block;
	border-bottom: 3px solid #d88383;
}


.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.5px solid #ccc;
    margin-bottom: 3em;
    padding: 0;
}


/*Inline display affects nav bar*/

li, ul {
	list-style-type: none; 
	margin-left: 30px;
	display: inline;

}

/*But now you actually change lists to list style*/

li {
	display: list-item;
}

li {
	margin-left: 0;
}

.navigation {
	margin-bottom: 3px;
}

/*Intro at top of homepage*/

.intro {
	margin: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 1.4;
}

.wrapper {
	margin-top: 40px;
	padding-right: 120px;
	padding-left: 120px;
}

/*Thumbnails*/

.thumbnail-image {
	overflow: hidden;
	/*
	max-height: 300px;
	max-width: 600px; not sure why you wanted to do this but ok */
	min-height: 200px;
	margin-top: 30px;
}

.thumbnail-image:hover {
	opacity: 0.9;
	filter: alpha(opacity=30);

	/*background: #7889a3; Little bottom bars*/
	/*min-height: 50px; I don't think this does anything lol*/
}

.thumbnail-title {
	font-size: 20px;
	margin-top: 10px;
}

.subtext {
	color: #c1c1c1;
}

.pad {
	padding-left: 70px;
	padding-right: 80px;
}

/*This is for the rows of the homepage*/

.row {
	margin-top: 15px;
}


