@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  font-family: "Karla";
  background-color: #e0e0e0;
}

.site-nav {
	display: inline;

}

.newh1 {
	margin: 0;
	margin-top: 30px;
	padding: 0;
	font-size: 36px;
	display: block;


}

/*Inline display affects nav bar*/

li, ul {
	list-style-type: none; 
	margin-left: 30px;
	display: inline;

}

/*But now you actually change lists to list style*/

li {
	display: list-item;
}

li {
	margin-left: 0;
}

.navigation {
	margin-bottom: 3px;
}

/*Intro at top of homepage*/

.intro {
	margin: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.wrapper {
	margin-top: 40px;
}

/*Thumbnails*/

.thumbnail-image {
	overflow: hidden;
	/*
	max-height: 300px;
	max-width: 600px; not sure why you wanted to do this but ok */
	min-height: 200px;
	margin-top: 30px;
}

.thumbnail-title {
	font-size: 20px;
	margin-top: 10px;
}

.thumbnail-info {
	color: #c1c1c1;
}

.pad {
	padding-left: 70px;
	padding-right: 80px;
}

/*This is for the rows of the homepage*/

.row {
	margin-top: 15px;
}


